.App {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  margin: 0;
}

.heading{
  margin-top: 10px; 
  text-align: left;
  font-family: 'Cabin Sketch', cursive;
  
}

.carousel{
 
  padding-bottom: 40px;
  padding-top: 10px;
  margin: 8px;
  font-family: 'Cabin Sketch', cursive;
    
}

.title{
  font-family: 'Cabin Sketch', cursive;
}

.slide-h1{
  color: white;
}

.polaroid {
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px 10px 30px 10px;
  width: 300px;
  margin: 8px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.cartoon{
  display: inline-block;  
}

.about-section{
  text-align: left;
  margin-bottom: 50px;
  padding: 0px 16px 0 16px;
  margin-left: 16px;
  font-family: 'Rubik', sans-serif;
  
}

.about-title{
  font-family: 'Cabin Sketch', cursive;
}